.list__container {
    max-width: 1100px;
    margin:0 auto;
    padding-left: 80px;
    gap: 100px;
    text-align: start;
    justify-content: start;
    padding: 20 px;
    color: black;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 20px;
    
    ;
}